@page
@model HotelOne19679091.Pages.Bookings.AdminViewModel
@{
    ViewData["Title"] = "Admin View";
}

<h1>Admin View Bookings</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="AdminCreate">Create New</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].checkIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].checkOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].theRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].theCustomer.fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].theCustomer.lname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Booking)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.checkIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.checkOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.theRoom.level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.theCustomer.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.theCustomer.lname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.bookingId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.bookingId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
}
