@page
@model HotelOne19679091.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.checkIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.checkIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.checkOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.checkOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.theRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.theRoom.level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.theCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.theCustomer.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.bookindId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
